/Java/Aplication1/nbproject/private/
/Java/Aplication1/build/
/Java/JavaApplication2/nbproject/private/
/Java/JavaApplication2/build/
/Java/JavaApplication3/nbproject/private/
/Java/JavaApplication3/build/
/Java/JavaApplication4/nbproject/private/
/Java/JavaApplication4/build/
